openapi: "3.1.0"
info:
  title: "Paygentic API"
  version: "0.1.0"
  description: "The Paygentic API provides billing infrastructure for usage-based and subscription monetization — customers, subscriptions, usage metering, invoicing, entitlements, and payments.\n\nSee the [Quickstart](https://docs.paygentic.io/getting-started/quickstart) to go from zero to billing in four steps."
  contact:
    name: "Paygentic Support"
    email: "support@paygentic.io"
  license:
    name: "Proprietary"
servers:
  - url: "https://api.paygentic.io"
    description: "Production API"
security:
  - BearerAuth: []
tags:
  - name: "Customers"
    description: "A `Customer` is an entity connected to a `Merchant` via a `Subscription`. This represents the merchant-facing perspective of `Consumers` who purchase their `Products`."
  - name: "Billable Metrics"
    description: "A `Billable Metric` defines a measurable quantity tied to a `Product`'s consumption. Each metric stores details including its label, explanatory text, and measurement units."
  - name: "Disputes"
    description: "A `Dispute` enables customers to contest usage events that they consider to be inaccurately recorded or billed."
  - name: "Entitlements"
    description: "An `Entitlement` grants a customer the right to access and use a specific product feature."
  - name: "Grants"
    description: "Grants credit a customer's metered entitlement balance. Merchants can create grants directly or void existing ones.\n\nUse `GET /v1/entitlements?customerId={id}` or `GET /v1/entitlements?subscriptionId={id}` to find the metered entitlement `id` needed for these endpoints."
  - name: "Features"
    description: "A `Feature` represents a specific capability or functionality provided by a `Product`. Features can be metered (usage-based), static (fixed allocation), or boolean (enabled/disabled)."
  - name: "Fees"
    description: "A `Fee` defines a recurring or one-time charge tied to a `Product`. Fees are linked to prices, and cadence is defined on the Price."
  - name: "Plans"
    description: "A `Plan` links a collection of `Prices` to a `Product`. It functions as a pricing structure document for a particular feature set or service offering."
  - name: "Prices"
    description: "A `Price` determines the monetary value for a single unit of a `Billable Metric`. Prices are exclusively grouped within a `Plan`."
  - name: "Products"
    description: "A `Product` is an offering sold by a `Merchant`. It includes product metadata like title, summary, and pricing details. `Plans`, `Prices`, and `Subscriptions` are all associated with products."
  - name: "Sources"
    description: "A `Source` is an external data provider capable of automatically creating usage events. Configuration occurs at the plan level, enabling data retrieval from third-party platforms such as Stripe to produce billable events."
  - name: "Subscriptions"
    description: "A `Subscription` is a customer's commitment to purchase a `Product` following the terms of a `Plan` and its linked `Prices`."
  - name: "Usage Events"
    description: "A `Usage Event` records consumption activity for one or more `Billable Metrics`. It captures event details including consumption quantity and when it occurred."
  - name: "Users"
    description: "A `User` is an entity granted access to an Organization's resources. All operations are performed by users."
  - name: "Invoices V2"
    description: "Invoice V2 operations supporting billing cycles organized by time periods. Warning: v0 invoice endpoints are no longer supported."
  - name: "Revenue"
    description: "Revenue data from invoices and payments"
  - name: "Test Clocks"
    description: "Test clocks provide programmable time control to simulate subscription and billing scenarios during testing."
  - name: "Events"
    description: "Ingest raw metering events that are processed by the meters service."
  - name: "Payments"
    description: "Create and manage one-off payments. A payment represents a single charge that a merchant wants to collect from a customer."
  - name: "Costs"
    description: "A Cost represents the operational or infrastructure expense of serving customers for a given product. Costs are metered (driven by event-based usage) and are tracked in parallel with billable metrics to give merchants visibility into both revenue and cost per customer."
paths:
  /v0/billableMetrics:
    post:
      tags:
        - "Billable Metrics"
      summary: "Create"
      description: "Create a new billable metric for a merchant organization. A `Billable Metric` represents a metric that can be used to measure the usage of a `Product`. It contains information about the metric, such as its name, description, and units."
      operationId: "createBillableMetric"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "name"
                - "description"
                - "unit"
                - "merchantId"
                - "productId"
                - "aggregation"
              properties:
                aggregation:
                  type: "string"
                  enum:
                    - "SUM"
                    - "COUNT"
                    - "AVG"
                    - "MIN"
                    - "MAX"
                    - "UNIQUE_COUNT"
                    - "LATEST"
                  description: "Aggregation calculation method for metric values."
                description:
                  type: "string"
                  description: "Explanatory text describing what the metric tracks and how it's used for billing. Sample values: 'Total tokens consumed by Claude language model interactions', 'Gigabytes of cloud storage utilized', 'Count of machine learning inference requests processed', 'Quantity of AI-generated images created', 'Compute hours spent training neural networks', 'Terabytes of data transferred'"
                  example: "Tracks total tokens consumed per API call"
                merchantId:
                  $ref: "#/components/schemas/OrganizationId"
                  description: "The unique identifier of the merchant organization associated with the billable metric."
                name:
                  type: "string"
                  description: "Human-readable label identifying what this metric measures. Sample values: 'Claude Tokens', 'Storage Capacity', 'Model Inference Calls', 'Generated Images', 'Training Compute Hours', 'Data Transfer Volume'"
                  example: "Token Counter"
                productId:
                  $ref: "#/components/schemas/ProductId"
                  description: "The unique identifier of the product associated with the billable metric."
                unit:
                  type: "string"
                  description: "Measurement unit used when aggregating this metric's values. Common examples: 'tokens', 'GB', 'calls', 'images', 'hours', 'TB', 'queries', 'requests'"
                  example: "tokens"
                eventType:
                  type: "string"
                  description: "CloudEvents type for meter routing. Links this billable metric to the metering service."
                valueProperty:
                  type: "string"
                  description: "JSONPath to extract numeric value from event data. Required for SUM/AVG/MIN/MAX/LATEST aggregations."
                groupBy:
                  type: "object"
                  additionalProperties:
                    type: "string"
                  description: "Map of dimension name to JSONPath for group-by queries."
                eventFrom:
                  type: "string"
                  format: "date-time"
                  description: "Only count events after this timestamp. Used for meter versioning."
            example:
              name: "Token Counter"
              description: "Tracks total tokens consumed per API call"
              unit: "tokens"
              aggregation: "SUM"
              merchantId: "org_YS8jkP59V71TdUvj"
              productId: "prod_abc123"
      responses:
        "201":
          description: "Billable metric created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillableMetric"
              example:
                id: "bm_w9x0y1z2a3b4c5d6"
                object: "billableMetric"
                aggregation: "SUM"
                createdAt: "2024-01-15T10:30:00Z"
                description: "Total tokens consumed by Claude language model interactions"
                merchantId: "org_e7f8g9h0i1j2k3l4"
                name: "Claude Tokens"
                productId: "prod_m5n6o7p8q9r0s1t2"
                taxRate: 8.5
                unit: "tokens"
                updatedAt: "2024-01-15T10:30:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: billableMetrics
      x-speakeasy-name-override: create
    get:
      tags:
        - "Billable Metrics"
      summary: "List"
      operationId: "listBillableMetrics"
      parameters:
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 10
          description: "Number of billable metrics to return."
        - name: "merchantId"
          in: "query"
          required: true
          schema:
            $ref: "#/components/schemas/OrganizationId"
          description: "Filter billable metrics by merchant organization ID."
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of billable metrics to skip."
        - name: "productId"
          in: "query"
          required: false
          schema:
            $ref: "#/components/schemas/ProductId"
          description: "Filter billable metrics by product ID."
      responses:
        "200":
          description: "List of billable metrics"
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "object"
                  - "data"
                  - "pagination"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/BillableMetric"
                  pagination:
                    type: "object"
                    required:
                      - "limit"
                      - "offset"
                      - "total"
                    properties:
                      limit:
                        type: "integer"
                      offset:
                        type: "integer"
                      total:
                        type: "integer"
              example:
                object: "list"
                data:
                  - id: "bm_w9x0y1z2a3b4c5d6"
                    object: "billableMetric"
                    aggregation: "SUM"
                    createdAt: "2024-01-15T10:30:00Z"
                    description: "Total tokens consumed by Claude language model interactions"
                    merchantId: "org_e7f8g9h0i1j2k3l4"
                    name: "Claude Tokens"
                    productId: "prod_m5n6o7p8q9r0s1t2"
                    unit: "tokens"
                    updatedAt: "2024-01-15T10:30:00Z"
                  - id: "bm_a1b2c3d4e5f6g7h8"
                    object: "billableMetric"
                    aggregation: "SUM"
                    createdAt: "2024-02-01T14:45:30Z"
                    description: "Gigabytes of cloud storage utilized"
                    merchantId: "org_e7f8g9h0i1j2k3l4"
                    name: "Storage Capacity"
                    productId: "prod_m5n6o7p8q9r0s1t2"
                    unit: "GB"
                    updatedAt: "2024-02-15T09:20:00Z"
                pagination:
                  limit: 10
                  offset: 0
                  total: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: billableMetrics
      x-speakeasy-name-override: list
  /v0/billableMetrics/{id}:
    parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          $ref: "#/components/schemas/BillableMetricId"
    get:
      tags:
        - "Billable Metrics"
      summary: "Get"
      operationId: "getBillableMetric"
      responses:
        "200":
          description: "Billable metric details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillableMetric"
              example:
                id: "bm_u3v4w5x6y7z8a9b0"
                object: "billableMetric"
                aggregation: "SUM"
                createdAt: "2024-02-01T14:45:30Z"
                description: "Gigabytes of cloud storage utilized"
                merchantId: "org_c1d2e3f4g5h6i7j8"
                name: "Storage Capacity"
                productId: "prod_k9l0m1n2o3p4q5r6"
                taxRate: 10
                unit: "GB"
                updatedAt: "2024-02-15T09:20:00Z"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: billableMetrics
      x-speakeasy-name-override: get
    patch:
      tags:
        - "Billable Metrics"
      summary: "Update"
      operationId: "updateBillableMetric"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                description:
                  type: "string"
                  description: "Revised explanation of what the metric represents. Sample values: 'Language model token consumption', 'Database storage capacity used', 'Machine learning prediction API calls', 'AI-generated content items'"
                name:
                  type: "string"
                  description: "Updated label for the metric. Sample values: 'LLM Tokens', 'Database Storage', 'Prediction Requests', 'Content Generations'"
                unit:
                  type: "string"
                  description: "Updated measurement unit. Common examples: 'tokens', 'GB', 'requests', 'items', 'hours'"
                eventType:
                  type: "string"
                  nullable: true
                  description: "CloudEvents type for meter routing."
                valueProperty:
                  type: "string"
                  nullable: true
                  description: "JSONPath to extract numeric value from event data."
                groupBy:
                  type: "object"
                  additionalProperties:
                    type: "string"
                  nullable: true
                  description: "Map of dimension name to JSONPath for group-by queries."
                eventFrom:
                  type: "string"
                  format: "date-time"
                  nullable: true
                  description: "Only count events after this timestamp."
      responses:
        "200":
          description: "Billable metric updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillableMetric"
              example:
                id: "bm_u3v4w5x6y7z8a9b0"
                object: "billableMetric"
                aggregation: "SUM"
                createdAt: "2024-02-01T14:45:30Z"
                description: "Language model token consumption"
                merchantId: "org_c1d2e3f4g5h6i7j8"
                name: "LLM Tokens"
                productId: "prod_k9l0m1n2o3p4q5r6"
                unit: "tokens"
                updatedAt: "2024-03-15T11:30:00Z"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: billableMetrics
      x-speakeasy-name-override: update
  /v0/billableMetrics/{id}/meter:
    parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          $ref: "#/components/schemas/BillableMetricId"
    get:
      tags:
        - "Billable Metrics"
      summary: "Query Meter Usage"
      description: "Query aggregated usage data for a billable metric from the metering service."
      operationId: "getBillableMetricMeter"
      parameters:
        - name: "from"
          in: "query"
          required: true
          schema:
            type: "string"
            format: "date-time"
          description: "Start of query window (ISO 8601)"
        - name: "to"
          in: "query"
          required: true
          schema:
            type: "string"
            format: "date-time"
          description: "End of query window (ISO 8601)"
        - name: "subject"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter by customer/user ID"
        - name: "windowSize"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "MINUTE"
              - "HOUR"
              - "DAY"
              - "MONTH"
          description: "Time bucket granularity"
        - name: "filterGroupBy"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "JSON-encoded dimension filter (e.g. {\"key\":\"value\"})"
        - name: "groupBy"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Comma-separated dimension keys"
      responses:
        "200":
          description: "Usage data"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
              example:
                object: "meter"
                billableMetricId: "bm_abc"
                totalValue: 42.5
                windowedValues:
                  - windowStart: "2025-06-15T10:00:00.000Z"
                    windowEnd: "2025-06-15T11:00:00.000Z"
                    value: 12
                groupedValues:
                  - groupBy:
                      model: "gpt-4"
                    value: 30
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: billableMetrics
      x-speakeasy-name-override: meter
  /v0/billableMetrics/{id}/events:
    parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          $ref: "#/components/schemas/BillableMetricId"
    get:
      tags:
        - "Billable Metrics"
      summary: "List Meter Events"
      description: "List raw underlying events for a billable metric from the metering service. Returns events ordered by time descending."
      operationId: "listBillableMetricEvents"
      parameters:
        - name: "from"
          in: "query"
          required: true
          schema:
            type: "string"
            format: "date-time"
          description: "Start of query window (ISO 8601)"
        - name: "to"
          in: "query"
          required: true
          schema:
            type: "string"
            format: "date-time"
          description: "End of query window (ISO 8601)"
        - name: "subject"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter by subject (typically the customer/user ID)"
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 200
            default: 20
          description: "Maximum number of events to return"
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of events to skip"
      responses:
        "200":
          description: "Raw events list"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeterEventList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: billableMetrics
      x-speakeasy-name-override: listEvents
  /v0/customers:
    get:
      tags:
        - "Customers"
      summary: "List by Merchant"
      operationId: "listCustomers"
      x-rate-limit:
        max: 10
        platformMax: 60
        timeWindow: "1 second"
        errorMessage: "Too many customer list requests. Please wait before trying again."
      parameters:
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 10
          description: "Number of customers to return"
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of customers to skip"
        - name: "name"
          in: "query"
          required: false
          schema:
            type: "string"
            minLength: 3
            maxLength: 255
          description: "Filter customers by consumer name (case-insensitive substring match). Minimum 3 characters required for efficient index usage."
        - name: "email"
          in: "query"
          required: false
          schema:
            type: "string"
            minLength: 3
            maxLength: 255
          description: "Filter customers by billing email (case-insensitive substring match). Minimum 3 characters required for efficient index usage. Accepts partial values — e.g. a domain (\"acme.com\") or local part (\"billing\")."
        - name: "externalId"
          in: "query"
          required: false
          schema:
            type: "string"
            maxLength: 255
          description: "Filter customers by exact external ID match."
        - name: "organizationId"
          in: "query"
          required: true
          description: "ID of the merchant organization to filter customers by"
          schema:
            $ref: "#/components/schemas/OrganizationId"
      responses:
        "200":
          description: "List of customers retrieved successfully"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Customer"
                  pagination:
                    $ref: "#/components/schemas/OffsetPagination"
                required:
                  - "object"
                  - "data"
                  - "pagination"
              example:
                object: "list"
                data:
                  - id: "cus_p1q2r3s4t5u6v7w8"
                    object: "customer"
                    consumerId: "org_x9y0z1a2b3c4d5e6"
                    createdAt: "2024-02-05T11:30:00Z"
                    merchantId: "org_f7g8h9i0j1k2l3m4"
                    organization:
                      id: "org_x9y0z1a2b3c4d5e6"
                      address:
                        city: "San Francisco"
                        country: "US"
                        line1: "123 Main St"
                        state: "CA"
                        zipCode: "94105"
                      billingEmails:
                        - "billing@techcorp.com"
                      name: "TechCorp"
                      phone: "+1-555-123-4567"
                    taxId: null
                    taxRates:
                      default: 8.5
                    updatedAt: "2024-02-10T14:20:00Z"
                    validTaxAddress:
                      message: null
                      valid: true
                pagination:
                  limit: 10
                  offset: 0
                  total: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: list
    post:
      tags:
        - "Customers"
      summary: "Create"
      description: "Create a new customer for a merchant organization. This endpoint is currently only used by the Paygentic platform as part of the subscription flow."
      operationId: "createCustomer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "merchantId"
              properties:
                consumer:
                  type: "object"
                  description: "Fields to create a new consumer. Will use an existing consumer if one exists with the same email address. Required if `consumerId` is not provided. Address with complete tax information (country, state, zipCode) is required for tax calculation when using Paygentic Tax."
                  properties:
                    name:
                      type: "string"
                      example: "Jane Smith"
                    email:
                      type: "string"
                      format: "email"
                      description: "Consumer email address. Sample values: 'customer@example.com', 'billing@company.com', 'admin@startup.io'"
                      example: "jane@example.com"
                    phone:
                      type: "string"
                      description: "Consumer phone number. Sample values: '+1-555-123-4567', '+44-20-7946-0958', '+49-30-12345678'"
                    address:
                      allOf:
                        - $ref: "#/components/schemas/Address"
                      description: "Consumer address. For accurate tax calculation when using Paygentic Tax, provide complete address with country (ISO 3166-1 alpha-2), state, and zipCode. Incomplete addresses will skip tax calculation and use the plan's default tax rate instead."
                  required:
                    - "name"
                    - "email"
                    - "address"
                consumerId:
                  description: "The unique identifier for the consumer. Required if `consumer` is not provided."
                  $ref: "#/components/schemas/OrganizationId"
                merchantId:
                  description: "The unique identifier for the merchant organization."
                  $ref: "#/components/schemas/OrganizationId"
                taxId:
                  type: "string"
                  description: "Optional business tax registration identifier. Sample values: 'GB123456789' for UK VAT, 'DE123456789' for German VAT, 'FR12345678901' for French VAT. Supplying this value enables inter-company tax handling and exemption from standard tax collection."
                externalId:
                  type: "string"
                  maxLength: 255
                  description: "Merchant-defined identifier for this customer in their own system."
                taxRates:
                  $ref: "#/components/schemas/TaxRates"
            example:
              merchantId: "org_YS8jkP59V71TdUvj"
              consumer:
                name: "Jane Smith"
                email: "jane@example.com"
                address:
                  city: "San Francisco"
                  state: "CA"
                  country: "US"
      responses:
        "200":
          description: "Customer already exists"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  customerId:
                    type: "string"
                  validTaxAddress:
                    $ref: "#/components/schemas/ValidTaxAddress"
                required:
                  - "customerId"
                  - "validTaxAddress"
              example:
                customerId: "cus_h3i4j5k6l7m8n9o0"
                validTaxAddress:
                  message: null
                  valid: true
        "201":
          description: "Customer created successfully"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  customerId:
                    type: "string"
                  validTaxAddress:
                    $ref: "#/components/schemas/ValidTaxAddress"
                required:
                  - "customerId"
                  - "validTaxAddress"
              example:
                customerId: "cus_h3i4j5k6l7m8n9o0"
                validTaxAddress:
                  message: null
                  valid: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: "Conflict. A customer with this externalId already exists for this merchant."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: create
      x-speakeasy-usage-example:
        title: "Create a customer"
        description: "Create a customer for each organization you bill. This is the first step in the billing setup — see the [Quickstart](https://docs.paygentic.io/getting-started/quickstart) for the full flow."
        position: 1
  /v0/customers/{id}:
    parameters:
      - name: "id"
        in: "path"
        required: true
        description: "The unique identifier of the customer."
        schema:
          $ref: "#/components/schemas/CustomerId"
    get:
      tags:
        - "Customers"
      summary: "Get"
      operationId: "getCustomer"
      responses:
        "200":
          description: "Customer details retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
              example:
                id: "cus_p1q2r3s4t5u6v7w8"
                object: "customer"
                consumerId: "org_x9y0z1a2b3c4d5e6"
                createdAt: "2024-02-05T11:30:00Z"
                merchantId: "org_f7g8h9i0j1k2l3m4"
                taxId: null
                taxRates:
                  default: 8.5
                updatedAt: "2024-02-10T14:20:00Z"
                validTaxAddress:
                  message: null
                  valid: true
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: get
    delete:
      tags:
        - "Customers"
      summary: "Delete"
      operationId: "deleteCustomer"
      responses:
        "204":
          description: "Customer deleted successfully"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: "Customer cannot be deleted due to active dependencies"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    enum:
                      - "conflict"
                  message:
                    type: "string"
                  details:
                    type: "object"
                    properties:
                      blockers:
                        type: "array"
                        items:
                          type: "object"
                          required:
                            - "type"
                            - "count"
                            - "items"
                          properties:
                            type:
                              type: "string"
                              enum:
                                - "subscriptions"
                                - "invoices"
                                - "disputes"
                                - "entitlements"
                            count:
                              type: "integer"
                            items:
                              type: "array"
                              items:
                                type: "object"
                                properties:
                                  id:
                                    type: "string"
                                  status:
                                    type: "string"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: delete
    patch:
      tags:
        - "Customers"
      summary: "Update"
      operationId: "updateCustomer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                taxId:
                  type: "string"
                  nullable: true
                  description: "Business tax registration identifier. Sample values: 'GB123456789' for UK VAT, 'DE123456789' for German VAT, 'FR12345678901' for French VAT. Enables inter-company tax handling and exemption from standard tax collection. Assign null to delete the identifier."
                externalId:
                  type: "string"
                  nullable: true
                  maxLength: 255
                  description: "Merchant-defined identifier for this customer in their own system. Set to null to clear."
                taxRates:
                  oneOf:
                    - type: "number"
                      description: "Single tax rate percentage applied across all plans and metrics. Sample values: '8.5' represents 8.5% tax rate, '12.1' represents 12.1% tax rate, '0' represents no tax"
                      minimum: 0
                      maximum: 100
                    - $ref: "#/components/schemas/TaxRates"
                notificationSettings:
                  type: "object"
                  description: "Notification preferences for this customer. Only provided fields are updated."
                  properties:
                    invoiceIssued:
                      type: "boolean"
                      description: "Whether to send invoice issued emails to this customer."
                    invoicePaid:
                      type: "boolean"
                      description: "Whether to send invoice paid emails to this customer."
                    renewalReminder:
                      type: "boolean"
                      description: "Whether to send renewal reminder emails to this customer."
      responses:
        "200":
          description: "Customer updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
              example:
                id: "cus_n5o6p7q8r9s0t1u2"
                object: "customer"
                consumerId: "org_v3w4x5y6z7a8b9c0"
                createdAt: "2024-01-20T09:15:00Z"
                merchantId: "org_d1e2f3g4h5i6j7k8"
                taxId: "GB123456789"
                taxRates:
                  default: 10
                updatedAt: "2024-03-12T16:30:00Z"
                validTaxAddress:
                  message: null
                  valid: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: "Conflict. A customer with this externalId already exists for this merchant."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: update
  /v0/disputes:
    post:
      tags:
        - "Disputes"
      summary: "Create"
      operationId: "createDispute"
      description: "Create a dispute for a usage event. Only one dispute can be created per usage event."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDisputeRequest"
      responses:
        "201":
          description: "Dispute created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dispute"
              example:
                id: "disp_m3n4o5p6q7r8s9t0"
                object: "dispute"
                createdAt: "2024-03-10T14:30:00Z"
                customerId: "cust_c9d0e1f2g3h4i5j6"
                customerMessage: "Token count appears incorrect for this request"
                disputedAmount: "2.50"
                merchantId: "org_k7l8m9n0o1p2q3r4"
                merchantMessage: null
                resolvedAt: null
                status: "pending"
                updatedAt: "2024-03-10T14:30:00Z"
                usageEventId: "usg_u1v2w3x4y5z6a7b8"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: "Dispute already exists for this usage event"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: create
    get:
      tags:
        - "Disputes"
      summary: "List"
      operationId: "listDisputes"
      description: "List disputes for a merchant, customer, or consumer. At least one of merchantId, customerId, or consumerId must be provided."
      parameters:
        - name: "consumerId"
          in: "query"
          schema:
            $ref: "#/components/schemas/OrganizationId"
          required: false
          description: "Filter disputes for a specific consumer. At least one of merchantId, customerId, or consumerId must be provided."
        - name: "customerId"
          in: "query"
          schema:
            type: "string"
            pattern: "^cust_[a-zA-Z0-9]+$"
          required: false
          description: "Filter disputes for a specific customer. At least one of merchantId, customerId, or consumerId must be provided."
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 10
          description: "Number of disputes to return"
        - name: "merchantId"
          in: "query"
          schema:
            $ref: "#/components/schemas/OrganizationId"
          required: false
          description: "Filter disputes for a specific merchant. At least one of merchantId, customerId, or consumerId must be provided."
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of disputes to skip"
        - name: "status"
          in: "query"
          schema:
            type: "string"
            enum:
              - "pending"
              - "accepted"
              - "declined"
          description: "Filter by dispute status"
      responses:
        "200":
          description: "Disputes retrieved successfully"
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "object"
                  - "data"
                  - "pagination"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/DisputeWithCustomer"
                  pagination:
                    type: "object"
                    required:
                      - "limit"
                      - "offset"
                      - "total"
                      - "hasMore"
                    properties:
                      limit:
                        type: "integer"
                      offset:
                        type: "integer"
                      total:
                        type: "integer"
                      hasMore:
                        type: "boolean"
              example:
                object: "list"
                data:
                  - id: "disp_s5t6u7v8w9x0y1z2"
                    object: "dispute"
                    createdAt: "2024-03-15T10:20:00Z"
                    customer:
                      id: "cust_i1j2k3l4m5n6o7p8"
                      email: "billing@techcorp.com"
                      name: "TechCorp"
                    customerId: "cust_i1j2k3l4m5n6o7p8"
                    customerMessage: "Storage charges don't match actual usage"
                    disputedAmount: "15.00"
                    merchantId: "org_q9r0s1t2u3v4w5x6"
                    merchantMessage: null
                    resolvedAt: null
                    status: "pending"
                    updatedAt: "2024-03-15T10:20:00Z"
                    usageEventId: "usg_a3b4c5d6e7f8g9h0"
                pagination:
                  hasMore: false
                  limit: 10
                  offset: 0
                  total: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: list
  /v0/entitlements/activeEntitlements:
    get:
      tags:
        - "Entitlements"
      summary: "List by Customer"
      operationId: "getActiveEntitlements"
      parameters:
        - name: "customerId"
          in: "query"
          required: true
          schema:
            $ref: "#/components/schemas/CustomerId"
          description: "The customer ID to get active entitlements for."
        - name: "productId"
          in: "query"
          required: false
          schema:
            $ref: "#/components/schemas/ProductId"
          description: "The product ID to get active entitlements for."
        - name: "subscriptionId"
          in: "query"
          required: false
          schema:
            $ref: "#/components/schemas/SubscriptionId"
          description: "The subscription ID to get active entitlements for."
      responses:
        "200":
          description: "List of active entitlements"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                    default: "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ActiveEntitlement"
                  pagination:
                    type: "object"
                    properties:
                      offset:
                        type: "number"
                      limit:
                        type: "number"
                      total:
                        type: "number"
              example:
                object: "list"
                data:
                  - id: "ent_a7b8c9d0e1f2g3h4"
                    object: "entitlement"
                    billableMetrics:
                      - "bm_y1z2a3b4c5d6e7f8"
                    customerId: "cus_q3r4s5t6u7v8w9x0"
                    planId: "plan_t9u0v1w2x3y4z5a6"
                    productId: "prod_m5n6o7p8q9r0s1t2"
                    subscriptionId: "sub_z1a2b3c4d5e6f7g8"
                    verifiedAt: "2024-01-20T10:00:00Z"
                  - id: "ent_b8c9d0e1f2g3h4i5"
                    object: "entitlement"
                    billableMetrics:
                      - "bm_a1b2c3d4e5f6g7h8"
                      - "bm_c2d3e4f5g6h7i8j9"
                    customerId: "cus_q3r4s5t6u7v8w9x0"
                    planId: "plan_t9u0v1w2x3y4z5a6"
                    productId: "prod_m5n6o7p8q9r0s1t2"
                    subscriptionId: "sub_z1a2b3c4d5e6f7g8"
                    verifiedAt: "2024-01-20T10:00:00Z"
                pagination:
                  limit: 10
                  offset: 0
                  total: 2
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: entitlementsV0
      x-speakeasy-name-override: listActive
  /v0/entitlements:
    post:
      tags:
        - "Entitlements"
      summary: "Create"
      description: "Create an entitlement for a customer. This temporarily reserves funds in the customer's wallet to guarantee payment for future usage."
      operationId: "createEntitlement"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEntitlementRequest"
      responses:
        "201":
          description: "Entitlement created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entitlement"
              example:
                id: "ent_a7b8c9d0e1f2g3h4"
                object: "entitlement"
                billableMetrics:
                  - billableMetricId: "bm_y1z2a3b4c5d6e7f8"
                    price: "0.000025"
                    quantity: 10000
                createdAt: "2024-01-20T10:00:00Z"
                customerId: "cus_q3r4s5t6u7v8w9x0"
                expiresAt: "2024-12-31T23:59:59Z"
                maxUses: 1
                merchantId: "org_i5j6k7l8m9n0o1p2"
                region: "global"
                remainingBalance: "100000000000"
                usedCount: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: entitlementsV0
      x-speakeasy-name-override: create
  /v1/entitlements:
    get:
      tags:
        - "Entitlements"
      summary: "List Entitlements"
      description: "Retrieve all entitlements for a customer, optionally filtered by feature or product."
      operationId: "listEntitlements"
      parameters:
        - name: "customerId"
          in: "query"
          required: true
          schema:
            $ref: "#/components/schemas/CustomerId"
          description: "The unique identifier of the customer to retrieve entitlements for."
          example: "cus_q3r4s5t6u7v8w9x0"
        - name: "featureKey"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter results to a specific feature by its key. When specified, `productId` is also required. Use this to check access to a single feature."
        - name: "productId"
          in: "query"
          required: false
          schema:
            $ref: "#/components/schemas/ProductId"
          description: "Filter results to entitlements for a specific product. Required when `featureKey` is specified since feature keys are scoped to products."
        - name: "subscriptionId"
          in: "query"
          required: false
          schema:
            $ref: "#/components/schemas/SubscriptionId"
          description: "Filter results to entitlements for a specific subscription."
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 10
          description: "Maximum number of entitlements to return per page. Use with `offset` for pagination."
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of entitlements to skip. Use with `limit` for pagination through large result sets."
        - name: "at"
          in: "query"
          required: false
          schema:
            type: "string"
            format: "date-time"
          description: "Evaluate balance and access at this point in time (RFC 3339 datetime with any UTC offset, e.g. 2024-01-15T10:30:00Z or 2024-01-15T15:30:00+05:30). Defaults to current time."
      responses:
        "200":
          description: "Successfully retrieved the list of entitlements for the customer."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "object"
                  - "data"
                  - "pagination"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                    default: "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/EntitlementAccessResult"
                    description: "Array of entitlement access results."
                  pagination:
                    $ref: "#/components/schemas/OffsetPagination"
              examples:
                multipleEntitlements:
                  summary: "Multiple entitlements with different feature types"
                  description: "A customer with a Pro plan that includes seat limits (static) and SSO access (boolean)."
                  value:
                    object: "list"
                    data:
                      - hasAccess: true
                        featureKey: "max_users"
                        featureType: "static"
                        config:
                          limit: 25
                        entitlementId: "ent_a7b8c9d0e1f2g3h4"
                        productId: "prod_m5n6o7p8q9r0s1t2"
                        activeFrom: "2024-01-01T00:00:00Z"
                        activeTo: "2025-01-01T00:00:00Z"
                        status: "active"
                      - hasAccess: true
                        featureKey: "sso_enabled"
                        featureType: "boolean"
                        config: null
                        entitlementId: "ent_b8c9d0e1f2g3h4i5"
                        productId: "prod_m5n6o7p8q9r0s1t2"
                        activeFrom: "2024-01-01T00:00:00Z"
                        activeTo: null
                        status: "active"
                    pagination:
                      limit: 10
                      offset: 0
                      total: 2
                staticFeatureWithConfig:
                  summary: "Static feature with configuration"
                  description: "An entitlement for a feature that includes configuration values the customer is entitled to."
                  value:
                    object: "list"
                    data:
                      - hasAccess: true
                        featureKey: "storage_quota"
                        featureType: "static"
                        config:
                          limitGB: 500
                          allowedFileTypes:
                            - "pdf"
                            - "doc"
                            - "xlsx"
                            - "png"
                            - "jpg"
                        entitlementId: "ent_d0e1f2g3h4i5j6k7"
                        productId: "prod_storage123456"
                        activeFrom: "2024-03-15T00:00:00Z"
                        activeTo: null
                        status: "active"
                    pagination:
                      limit: 10
                      offset: 0
                      total: 1
                expiredEntitlement:
                  summary: "Entitlement that is no longer active"
                  description: "A canceled entitlement where hasAccess is false. This can happen when a subscription is canceled or expires."
                  value:
                    object: "list"
                    data:
                      - hasAccess: false
                        featureKey: "premium_support"
                        featureType: "boolean"
                        config: null
                        entitlementId: "ent_e1f2g3h4i5j6k7l8"
                        productId: "prod_support789012"
                        activeFrom: "2023-01-01T00:00:00Z"
                        activeTo: "2024-01-01T00:00:00Z"
                        status: "expired"
                    pagination:
                      limit: 10
                      offset: 0
                      total: 1
                emptyResult:
                  summary: "No entitlements found"
                  description: "Response when a customer has no entitlements, or no entitlements match the filter criteria."
                  value:
                    object: "list"
                    data: []
                    pagination:
                      limit: 10
                      offset: 0
                      total: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: list
    post:
      tags:
        - "Entitlements"
      summary: "Issue Entitlement"
      description: "Issue a new entitlement to a customer, granting them access to a specific feature. The feature must exist and belong to the same merchant as the customer."
      operationId: "issueEntitlement"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueEntitlementRequest"
            examples:
              booleanEntitlement:
                summary: "Issue a boolean feature entitlement"
                description: "Grant access to a simple on/off feature like SSO."
                value:
                  customerId: "cus_q3r4s5t6u7v8w9x0"
                  featureId: "feat_a1b2c3d4e5f6g7h8"
                  template:
                    type: "boolean"
              staticEntitlement:
                summary: "Issue a static feature entitlement with config"
                description: "Grant access to a feature with configuration values like seat limits."
                value:
                  customerId: "cus_q3r4s5t6u7v8w9x0"
                  featureId: "feat_a1b2c3d4e5f6g7h8"
                  template:
                    type: "static"
                    config:
                      limit: 25
                      tier: "pro"
              timedEntitlement:
                summary: "Issue a time-limited entitlement"
                description: "Grant access to a feature with specific start and end dates."
                value:
                  customerId: "cus_q3r4s5t6u7v8w9x0"
                  featureId: "feat_a1b2c3d4e5f6g7h8"
                  template:
                    type: "boolean"
                  activeFrom: "2024-01-01T00:00:00Z"
                  activeTo: "2025-01-01T00:00:00Z"
      responses:
        "201":
          description: "Entitlement successfully issued."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-Entitlement"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: issue
  /v1/entitlements/{entitlementId}:
    parameters:
      - name: "entitlementId"
        in: "path"
        required: true
        description: "The unique identifier of the entitlement"
        schema:
          type: "string"
          pattern: "^ent_[a-zA-Z0-9]+$"
    get:
      tags:
        - "Entitlements"
      summary: "Get Entitlement"
      description: "Retrieve a specific entitlement by ID. For metered entitlements, the response includes live balance, usage, and access status for the current billing period."
      operationId: "getEntitlement"
      parameters:
        - name: "entitlementId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^ent_[a-zA-Z0-9]+$"
          description: "The unique identifier of the entitlement."
        - name: "at"
          in: "query"
          required: false
          schema:
            type: "string"
            format: "date-time"
          description: "Evaluate balance and access at this point in time (RFC 3339 datetime with any UTC offset, e.g. 2024-01-15T10:30:00Z or 2024-01-15T15:30:00+05:30). Defaults to current time."
      responses:
        "200":
          description: "Successfully retrieved the entitlement."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementDetail"
              examples:
                booleanEntitlement:
                  summary: "Boolean entitlement"
                  value:
                    object: "entitlement"
                    id: "ent_a7b8c9d0e1f2g3h4"
                    customerId: "cus_x1y2z3a4b5c6d7e8"
                    featureId: "feat_p1q2r3s4t5u6v7w8"
                    featureKey: "sso_enabled"
                    featureType: "boolean"
                    subscriptionId: "sub_m1n2o3p4q5r6s7t8"
                    status: "active"
                    hasAccess: true
                    activeFrom: "2024-01-01T00:00:00Z"
                    activeTo: null
                    metadata: {}
                staticEntitlement:
                  summary: "Static entitlement"
                  value:
                    object: "entitlement"
                    id: "ent_b8c9d0e1f2g3h4i5"
                    customerId: "cus_x1y2z3a4b5c6d7e8"
                    featureId: "feat_q2r3s4t5u6v7w8x9"
                    featureKey: "storage_limit"
                    featureType: "static"
                    subscriptionId: "sub_m1n2o3p4q5r6s7t8"
                    status: "active"
                    hasAccess: true
                    activeFrom: "2024-01-01T00:00:00Z"
                    activeTo: null
                    config:
                      limitGB: 500
                      allowedFileTypes:
                        - "pdf"
                        - "doc"
                        - "png"
                    metadata: {}
                meteredEntitlement:
                  summary: "Metered entitlement with balance"
                  value:
                    object: "entitlement"
                    id: "ent_c9d0e1f2g3h4i5j6"
                    customerId: "cus_x1y2z3a4b5c6d7e8"
                    featureId: "feat_r3s4t5u6v7w8x9y0"
                    featureKey: "api_calls"
                    featureType: "metered"
                    subscriptionId: "sub_m1n2o3p4q5r6s7t8"
                    status: "active"
                    hasAccess: true
                    activeFrom: "2024-01-01T00:00:00Z"
                    activeTo: null
                    balance: 8340
                    usageInPeriod: 1660
                    overage: 0
                    currentPeriodStart: "2024-03-01T00:00:00Z"
                    currentPeriodEnd: "2024-04-01T00:00:00Z"
                    metadata: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: get
  /v1/entitlements/{entitlementId}/grants:
    parameters:
      - name: "entitlementId"
        in: "path"
        required: true
        description: "The unique identifier of the entitlement"
        schema:
          type: "string"
          pattern: "^ent_[a-zA-Z0-9]+$"
    get:
      tags:
        - "Grants"
      summary: "List Grants"
      description: "List grants for a metered entitlement. Active grants are returned by default; pass `includeVoided=true` to include voided grants."
      operationId: "listEntitlementGrants"
      parameters:
        - name: "entitlementId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^ent_[a-zA-Z0-9]+$"
          description: "The unique identifier of the entitlement."
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
          description: "Maximum number of grants to return per page."
        - name: "offset"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of grants to skip."
        - name: "includeVoided"
          in: "query"
          required: false
          schema:
            type: "boolean"
            default: false
          description: "When true, voided grants are included in the response."
      responses:
        "200":
          description: "Successfully retrieved the list of grants."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "object"
                  - "data"
                  - "pagination"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                    default: "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Grant"
                  pagination:
                    $ref: "#/components/schemas/OffsetPagination"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: entitlements.grants
      x-speakeasy-name-override: list
    post:
      tags:
        - "Grants"
      summary: "Create Grant"
      description: "Create a grant directly for a metered entitlement, crediting the customer's balance immediately. The entitlement must belong to an active v1 subscription."
      operationId: "createEntitlementGrant"
      parameters:
        - name: "entitlementId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^ent_[a-zA-Z0-9]+$"
          description: "The unique identifier of the entitlement to grant credits to."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGrantRequest"
            examples:
              minimal:
                summary: "Minimal grant"
                description: "Create a grant with an amount and idempotency key. Effective immediately, no expiration."
                value:
                  amount: 100
                  idempotencyKey: "grant-initial-100"
              withExpiry:
                summary: "Grant with expiry and idempotency key"
                description: "Create a grant that expires after one month, with an idempotency key for safe retries."
                value:
                  amount: 500
                  effectiveAt: "2026-03-14T00:00:00Z"
                  expiresAt: "2026-04-14T00:00:00Z"
                  idempotencyKey: "grant-march-2026-promo"
      responses:
        "201":
          description: "Grant successfully created."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: entitlements.grants
      x-speakeasy-name-override: create
  /v1/entitlements/{entitlementId}/grants/purchase:
    parameters:
      - name: "entitlementId"
        in: "path"
        required: true
        description: "The unique identifier of the entitlement"
        schema:
          type: "string"
          pattern: "^ent_[a-zA-Z0-9]+$"
    post:
      tags:
        - "Grants"
      summary: "Purchase Grant"
      description: "Create an ad-hoc invoice with a payment session for a grant purchase. The customer pays via the returned payment URL; the grant is created automatically on payment completion. If payment expires, the invoice is cancelled and no grant is created.\n\nAfter the consumer completes payment, the grant is created automatically. To confirm payment completion, poll `GET /v2/invoices/{invoiceId}` using the `invoiceId` from the response and check for `status === \"PAID\"`. Recommended polling interval: 2 seconds, timeout: 60 seconds."
      operationId: "purchaseEntitlementGrant"
      parameters:
        - name: "entitlementId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^ent_[a-zA-Z0-9]+$"
          description: "The unique identifier of the entitlement to purchase credits for."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseGrantRequest"
            examples:
              basic:
                summary: "Basic grant purchase"
                description: "Purchase 1000 credits for $5.00 with a unique idempotency key."
                value:
                  amount: 1000
                  price: "5.00"
                  idempotencyKey: "purchase-march-2026-topup"
              withOptions:
                summary: "Grant purchase with all options"
                description: "Purchase with redirect URLs, payment expiry, and grant expiration."
                value:
                  amount: 500
                  price: "2.50"
                  idempotencyKey: "purchase-promo-500"
                  effectiveAt: "2026-03-14T00:00:00Z"
                  expiresAt: "2026-04-14T00:00:00Z"
                  successUrl: "https://example.com/success"
                  cancelUrl: "https://example.com/cancel"
                  paymentExpiresAt: "2026-03-15T00:00:00Z"
      responses:
        "201":
          description: "Grant purchase invoice created with payment session."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseGrantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: entitlements.grants
      x-speakeasy-name-override: purchase
  /v1/entitlements/{entitlementId}/grants/{grantId}:
    parameters:
      - name: "entitlementId"
        in: "path"
        required: true
        description: "The unique identifier of the entitlement"
        schema:
          type: "string"
          pattern: "^ent_[a-zA-Z0-9]+$"
      - name: "grantId"
        in: "path"
        required: true
        description: "The unique identifier of the grant"
        schema:
          type: "string"
    get:
      tags:
        - "Grants"
      summary: "Get Grant"
      description: "Retrieve a specific grant by ID."
      operationId: "getEntitlementGrant"
      parameters:
        - name: "entitlementId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^ent_[a-zA-Z0-9]+$"
          description: "The unique identifier of the entitlement."
        - name: "grantId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^grt_[a-zA-Z0-9]+$"
          description: "The unique identifier of the grant."
      responses:
        "200":
          description: "Successfully retrieved the grant."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: entitlements.grants
      x-speakeasy-name-override: get
    delete:
      tags:
        - "Grants"
      summary: "Void Grant"
      description: "Void a grant, removing it from the customer's balance. This operation is idempotent — voiding an already-voided grant returns the voided grant without error."
      operationId: "voidEntitlementGrant"
      parameters:
        - name: "entitlementId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^ent_[a-zA-Z0-9]+$"
          description: "The unique identifier of the entitlement."
        - name: "grantId"
          in: "path"
          required: true
          schema:
            type: "string"
            pattern: "^grt_[a-zA-Z0-9]+$"
          description: "The unique identifier of the grant to void."
      responses:
        "200":
          description: "Grant successfully voided (or already voided)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-group: entitlements.grants
      x-speakeasy-name-override: void
  /v0/features:
    get:
      tags:
        - "Features"
      summary: "List"
      description: "List features by productId, optionally filtered by key"
      operationId: "listFeatures"
      parameters:
        - name: "productId"
          in: "query"
          required: true
          schema:
            $ref: "#/components/schemas/ProductId"
          description: "The product ID to filter features by"
        - name: "key"
          in: "query"
          required: false
          schema:
            type: "string"
            pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          description: "Optional feature key to filter by. If provided, returns only the feature matching both productId and key"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 10
          description: "Number of features to return."
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of features to skip."
      responses:
        "200":
          description: "List of features"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Feature"
                  pagination:
                    type: "object"
                    properties:
                      limit:
                        type: "integer"
                        description: "Number of items requested"
                      offset:
                        type: "integer"
                        description: "Number of items skipped"
                      total:
                        type: "integer"
                        description: "Total number of items matching the query"
                    required:
                      - "limit"
                      - "offset"
                      - "total"
                required:
                  - "object"
                  - "data"
                  - "pagination"
              example:
                object: "list"
                data:
                  - id: "feat_x1y2z3a4b5c6d7e8"
                    object: "feature"
                    key: "api-calls"
                    name: "API Calls"
                    type: "metered"
                    merchantId: "org_f9g0h1i2j3k4l5m6"
                    productId: "prod_a1b2c3d4e5f6g7h8"
                    metadata:
                      unit: "requests"
                    createdAt: "2024-01-08T12:00:00.000Z"
                    updatedAt: "2024-01-08T12:00:00.000Z"
                pagination:
                  limit: 10
                  offset: 0
                  total: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: list
    post:
      tags:
        - "Features"
      summary: "Create"
      operationId: "createFeature"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "key"
                - "name"
                - "merchantId"
                - "productId"
              properties:
                key:
                  type: "string"
                  pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                  description: "Unique slug identifier for the feature within the product. Must be lowercase letters, numbers, and hyphens only."
                name:
                  type: "string"
                  description: "Human-readable feature name shown to customers."
                type:
                  type: "string"
                  enum:
                    - "metered"
                    - "static"
                    - "boolean"
                  default: "boolean"
                  description: "Feature type: 'metered' for usage-based features, 'static' for fixed allocations, 'boolean' for on/off features"
                merchantId:
                  $ref: "#/components/schemas/OrganizationId"
                  description: "The merchant organization that owns this feature"
                productId:
                  $ref: "#/components/schemas/ProductId"
                  description: "The product this feature belongs to"
                metadata:
                  type: "object"
                  additionalProperties:
                    type: "string"
                  description: "Optional key-value metadata storage for feature information."
      responses:
        "201":
          description: "Feature created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feature"
              example:
                id: "feat_x1y2z3a4b5c6d7e8"
                object: "feature"
                key: "api-calls"
                name: "API Calls"
                type: "metered"
                merchantId: "org_f9g0h1i2j3k4l5m6"
                productId: "prod_a1b2c3d4e5f6g7h8"
                metadata:
                  unit: "requests"
                  display_order: "1"
                createdAt: "2024-01-08T12:00:00.000Z"
                updatedAt: "2024-01-08T12:00:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: create
  /v0/features/{id}:
    parameters:
      - name: "id"
        in: "path"
        required: true
        description: "The unique identifier of the feature"
        schema:
          $ref: "#/components/schemas/FeatureId"
    get:
      tags:
        - "Features"
      summary: "Get"
      operationId: "getFeature"
      responses:
        "200":
          description: "Feature details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feature"
              example:
                id: "feat_x1y2z3a4b5c6d7e8"
                object: "feature"
                key: "storage-gb"
                name: "Storage (GB)"
                type: "metered"
                merchantId: "org_f9g0h1i2j3k4l5m6"
                productId: "prod_a1b2c3d4e5f6g7h8"
                metadata:
                  unit: "gigabytes"
                  category: "storage"
                createdAt: "2024-01-08T12:00:00.000Z"
                updatedAt: "2024-01-08T12:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: get
    patch:
      tags:
        - "Features"
      summary: "Update"
      operationId: "updateFeature"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                key:
                  type: "string"
                  pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                  description: "Updated feature key slug. Sample values: 'increased-api-limit', 'new-storage-tier'"
                name:
                  type: "string"
                  description: "Updated feature name."
                type:
                  type: "string"
                  enum:
                    - "metered"
                    - "static"
                    - "boolean"
                  description: "Updated feature type"
                metadata:
                  type: "object"
                  additionalProperties:
                    type: "string"
                  description: "Updated metadata for the feature"
      responses:
        "200":
          description: "Feature updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feature"
              example:
                id: "feat_x1y2z3a4b5c6d7e8"
                object: "feature"
                key: "updated-api-calls"
                name: "Updated API Calls"
                type: "metered"
                merchantId: "org_f9g0h1i2j3k4l5m6"
                productId: "prod_a1b2c3d4e5f6g7h8"
                metadata:
                  unit: "requests"
                  updated: "true"
                createdAt: "2024-01-08T12:00:00.000Z"
                updatedAt: "2024-01-08T12:30:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: update
    delete:
      tags:
        - "Features"
      summary: "Delete"
      operationId: "deleteFeature"
      responses:
        "204":
          description: "Feature deleted successfully"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: delete
  /v0/fees:
    post:
      tags:
        - "Fees"
      summary: "Create"
      description: "Create a new fee for a merchant organization. A `Fee` represents a charge that can be applied to subscriptions. Cadence is defined when creating a Price for the fee."
      operationId: "createFee"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "name"
                - "description"
                - "merchantId"
                - "productId"
              properties:
                name:
                  type: "string"
                  description: "Human-readable label identifying the fee. Sample values: 'Setup Fee', 'Monthly Subscription', 'Compliance Update', 'Annual License'"
                description:
                  type: "string"
                  description: "Explanatory text describing what the fee represents. Sample values: 'One-time setup fee for new customers', 'Monthly base subscription charge', 'Yearly compliance and security update fee'"
                merchantId:
                  $ref: "#/components/schemas/OrganizationId"
                  description: "The unique identifier of the merchant organization associated with the fee."
                productId:
                  $ref: "#/components/schemas/ProductId"
                  description: "The unique identifier of the product associated with the fee."
      responses:
        "201":
          description: "Fee created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fee"
              example:
                id: "fee_w9x0y1z2a3b4c5d6"
                object: "fee"
                createdAt: "2024-01-15T10:30:00Z"
                description: "One-time setup fee for new customers"
                merchantId: "org_e7f8g9h0i1j2k3l4"
                name: "Setup Fee"
                productId: "prod_m5n6o7p8q9r0s1t2"
                updatedAt: "2024-01-15T10:30:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: create
    get:
      tags:
        - "Fees"
      summary: "List"
      operationId: "listFees"
      parameters:
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 10
          description: "Number of fees to return."
        - name: "merchantId"
          in: "query"
          required: true
          schema:
            $ref: "#/components/schemas/OrganizationId"
          description: "Filter fees by merchant organization ID."
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
          description: "Number of fees to skip."
        - name: "productId"
          in: "query"
          required: false
          schema:
            $ref: "#/components/schemas/ProductId"
          description: "Filter fees by product ID."
      responses:
        "200":
          description: "List of fees"
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "object"
                  - "data"
                  - "pagination"
                properties:
                  object:
                    type: "string"
                    enum:
                      - "list"
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Fee"
                  pagination:
                    type: "object"
                    required:
                      - "limit"
                      - "offset"
                      - "total"
                    properties:
                      limit:
                        type: "integer"
                      offset:
                        type: "integer"
                      total:
                        type: "integer"
              example:
                object: "list"
                data:
                  - id: "fee_w9x0y1z2a3b4c5d6"
                    object: "fee"
                    createdAt: "2024-01-15T10:30:00Z"
                    description: "One-time setup fee for new customers"
                    merchantId: "org_e7f8g9h0i1j2k3l4"
                    name: "Setup Fee"
                    productId: "prod_m5n6o7p8q9r0s1t2"
                    updatedAt: "2024-01-15T10:30:00Z"
                  - id: "fee_a1b2c3d4e5f6g7h8"
                    object: "fee"
                    createdAt: "2024-02-01T14:45:30Z"
                    description: "Monthly base subscription charge"
                    merchantId: "org_e7f8g9h0i1j2k3l4"
                    name: "Monthly Subscription"
                    productId: "prod_m5n6o7p8q9r0s1t2"
                    updatedAt: "2024-02-15T09:20:00Z"
                pagination:
                  limit: 10
                  offset: 0
                  total: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: list
  /v0/fees/{id}:
    parameters:
      - name: "id"
        in: "path"
        required: true
        description: "The unique identifier of the fee"
        schema:
          $ref: "#/components/schemas/FeeId"
    get:
      tags:
        - "Fees"
      summary: "Get"
      operationId: "getFee"
      responses:
        "200":
          description: "Fee details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fee"
              example:
                id: "fee_u3v4w5x6y7z8a9b0"
                object: "fee"
                createdAt: "2024-02-01T14:45:30Z"
                description: "Yearly compliance and security update fee"
                merchantId: "org_c1d2e3f4g5h6i7j8"
                name: "Compliance Update"
                productId: "prod_k9l0m1n2o3p4q5r6"
                updatedAt: "2024-02-15T09:20:00Z"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: get
    patch:
      tags:
        - "Fees"
      summary: "Update"
      operationId: "updateFee"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                description:
                  type: "string"
                  description: "Revised explanation of what the fee represents."
                name:
                  type: "string"
                  description: "Updated label for the fee."
      responses:
        "200":
          description: "Fee updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fee"
              example:
                id: "fee_u3v4w5x6y7z8a9b0"
                object: "fee"
                createdAt: "2024-02-01T14:45:30Z"
                description: "Updated yearly compliance fee"
                merchantId: "org_c1d2e3f4g5h6i7j8"
                name: "Compliance Update"
                productId: "prod_k9l0m1n2o3p4q5r6"
                updatedAt: "2024-03-15T11:30:00Z"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: update
    delete:
      tags:
        - "Fees"
      summary: "Delete"
      operationId: "deleteFee"
      responses:
        "204":
          description: "Fee deleted successfully"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: "Fee cannot be deleted because it has associated prices"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                  message:
                    type: "string"
                  details:
                    type: "object"
                    properties:
                      blockers:
                        type: "array"
                        items:
                          type: "object"
                          properties:
                            type:
                              type: "string"
                            count:
                              type: "integer"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: delete
  /v0/fees/{id}/price/{subscriptionId}:
    parameters:
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
          pattern: "^fee_[a-zA-Z0-9]+$"
        description: "The unique identifier of the fee."
      - name: "subscriptionId"
        in: "path"
        required: true
        schema:
          type: "string"
          pattern: "^sub_[a-zA-Z0-9]+$"
        description: "The unique identifier of the subscription."
    get:
      tags:
        - "Fees"
      summary: "Get Fee Price"
      description: "Get the price for a fee in the context of a subscription. This returns the price configured for the fee in the subscription's plan, including the tax rate."
      operationId: "getFeePrice"
      responses:
        "200":
          description: "Fee price details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeePrice"
              example:
                id: "price_abc123"
                feeId: "fee_w9x0y1z2a3b4c5d6"
                model: "standard"
                paymentTerm: "in_advance"
                invoiceDisplayName: "Setup Fee"
                properties:
                  unitPrice: "10.00"
                taxRate: 10
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: getPrice
  /v0/plans:
    post:
      tags:
        - "Plans"
      summary: "Create"
      operationId: "createPlan"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "name"
                - "merchantId"
                - "currency"
              properties:
                billingCadence:
                  type: "string"
                  enum:
                    - "P1M"
                    - "P3M"
                    - "P1Y"
                  description: "ISO 8601 duration for the billing period. Takes precedence over billingInterval when both are provided."
                billingInterval:
                  type: "string"
                  enum:
                    - "monthly"
                    - "quarterly"
                    - "yearly"
                    - "annual"
                  description: "Recurring billing period frequency. Sample values: 'monthly' for monthly billing, 'quarterly' for quarterly billing, 'yearly' for annual billing"
                currency:
                  type: "string"
                  minLength: 3
                  maxLength: 3
                  pattern: "^[A-Z]{3}$"
                  description: "Three-letter ISO 4217 currency code for plan pricing. Must be one of the merchant's supported currencies. Sample values: 'USD' for US dollars, 'EUR' for euros, 'GBP' for British pounds"
                defaultTaxCode:
                  type: "string"
                  description: "Default tax code for plan line items. Common values: 'eservice' (electronically supplied services), 'saas' (software as a service), 'consulting', 'ebook', 'standard', 'reduced', 'exempt'. Full list available via GET /tax/codes endpoint."
                  default: "eservice"
                defaultTaxRate:
                  type: "number"
                  description: "Fallback tax rate percentage when automatic tax calculation fails. Sample values: 8.5 represents 8.5% tax, 10.0 represents 10% tax, 0 represents no tax"
                  default: 0
                description:
                  type: "string"
                  description: "Plan details explaining included features and limits. Sample values: 'Claude API access with 500K tokens monthly allowance', 'Unlimited cloud storage plus real-time analytics tools', 'Complete machine learning infrastructure with GPU access', 'Flexible usage-based pricing with no monthly commitment'"
                invoiceDisplayName:
                  type: "string"
                  description: "Plan name shown on billing statements. Sample values: 'LLM API Basic Plan', 'Data Warehouse Business', 'ML Platform Enterprise', 'Pay-Per-Use Model'"
                merchantId:
                  $ref: "#/components/schemas/OrganizationId"
                  description: "The merchant organization that will own this plan"
                name:
                  type: "string"
                  description: "Plan identifier visible to customers. Sample values: 'Basic Tier', 'Business Package', 'Enterprise Solution', 'Metered Billing', 'Free Tier', 'Premium Access'"
                prices:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/schemas-PriceId"
                  description: "Array of price IDs to associate with this plan"
                productId:
                  $ref: "#/components/schemas/ProductId"
                  description: "The product this plan belongs to"
                taxBehavior:
                  type: "string"
                  enum:
                    - "exclusive"
                    - "inclusive"
                  description: "Whether tax is added on top of the price (exclusive) or included in the price (inclusive)"
                  default: "exclusive"
                renewalReminderEnabled:
                  type: "boolean"
                  description: "Whether to send renewal reminder emails to customers before their subscription renews"
                  default: true
                renewalReminderDays:
                  type: "integer"
                  description: "Number of days before renewal to send the reminder email"
                  minimum: 1
                  maximum: 30
                  default: 3
                billingVersion:
                  type: "integer"
                  enum:
                    - 0
                    - 1
                  default: 0
                  description: "Billing engine version. 0 = legacy fee-schedule billing (Legacy), 1 = line-item billing with metered usage support (Standard)."
      responses:
        "201":
          description: "Plan created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plan"
              example:
                id: "plan_t9u0v1w2x3y4z5a6"
                object: "plan"
                billingCadence: "P1M"
                billingInterval: "monthly"
                createdAt: "2024-01-12T10:00:00Z"
                currency: "USD"
                defaultTaxCode: "eservice"
                defaultTaxRate: 8.5
                description: "Claude API access with 500K tokens monthly allowance"
                invoiceDisplayName: "LLM API Basic Plan"
                merchantId: "org_b7c8d9e0f1g2h3i4"
                name: "Basic Tier"
                prices:
                  - "price_r3s4t5u6v7w8x9y0"
                productId: "prod_j5k6l7m8n9o0p1q2"
                taxBehavior: "exclusive"
                updatedAt: "2024-01-12T10:00:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      x-speakeasy-name-override: create
    get:
      tags:
        - "Plans"
      summary: "List"
      operationId: "listPlans"
      parameters:
        - name: "limit"
          in: "query"
[...]
